$primary: #d5b136;
$section-color: #f7f7f7;
$header-jumbotron-height: 300px;
$section-padding: 120px;

@import "../lib/bootstrap-4.3.1/scss/bootstrap.scss";

.page-header {
    background: url("../img/background-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .navbar-brand {
    color: $primary;
    font-style: italic;
    padding-top: 0.15rem;
}

.header-jumbotron {
    background-color: transparent;
    color: white;
    height: $header-jumbotron-height;

    @include media-breakpoint-up(sm) {
        height: $header-jumbotron-height + 50px;
    }

    @include media-breakpoint-up(md) {
        height: $header-jumbotron-height + 100px;
    }

    @include media-breakpoint-up(lg) {
        height: $header-jumbotron-height +150px;
    }

    h2 {
        font-style: italic;
        font-size: 2.5rem;
    }

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.services {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    h3 {
        font-size: 2.5rem;
    }

    .services-icon {
        font-size: 2rem;
        color: $primary;
        line-height: 3.75rem;
        width: 4rem;
        height: 4rem;
        margin: 0 auto 0.75rem auto;
        border: 2px solid $primary;
        border-radius: 50%;
        text-align: center;
    }
}

.portfolio {
    background-color: $section-color;
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    h3 {
        font-size: 2.5rem;
    }
}

.about {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    h3 {
        font-size:2.5rem;
    }

    .about-img {
        border: 5px solid $section-color;
        border-radius: 50%;
    }

    @include media-breakpoint-up(md) {

        .about-list {
            background: linear-gradient(
             to right,
             white 0%,
             white calc(50% - 1px),
             $section-color calc(50% - 1px),
             $section-color calc(50% + 1px),
             white calc(50% + 1px),
             white 100%
             );

             .row:last-child {
                 background-color: white;
             }
        }
    }
}

.team {
    background-color: $section-color;
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    h3 {
        font-size: 2.5rem;
    }

    .team-img {
        border-radius: 50%;
        border: 5px solid white;
    }

    a {
        color: black;
        font-size: 2rem;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        width: 50px;
        height: 50px;
    }
}